<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.3/phpunit.xsd"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         checkForUnintentionallyCoveredCode="true"
         colors="true"
         enforceTimeLimit="true"
         forceCoversAnnotation="true"
         failOnRisky="true"
         failOnWarning="false"
         syntaxCheck="false"
         verbose="true"
>

  <testsuites>
    <testsuite name="UnboundLdapBundle">
      <directory suffix="Test.php">Tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">.</directory>
      <exclude>
        <directory>Resources/</directory>
        <directory>Tests/</directory>
        <directory>app/</directory>
        <directory>reports/</directory>
        <directory>vendor/</directory>
      </exclude>
    </whitelist>
  </filter>

  <logging>
    <log type="testdox-html" target="reports/testdox.html"/>
    <log type="junit" target="reports/junit.xml" logIncompleteSkipped="false"/>
    <log type="coverage-html" target="reports/coverage" lowUpperBound="10" highLowerBound="65"/>
    <log type="coverage-clover" target="reports/clover.xml"/>
    <log type="coverage-text" target="php://stdout" showUncoveredFiled="false"/>
  </logging>
</phpunit>
